<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>停车场——爱博恩</title>
    <th:block th:include="head::head"></th:block>
</head>
<body ontouchstart>
<div class="weui-toptips weui-toptips_warn js_tooltips">错误提示</div>
<div class="container" id="container">
    <div class="page preview js_show">
        <h1 style="color: #c9968b;text-align: center" >广州爱博恩妇产医院</h1>
        <h3 style="text-align: center" >支付结果</h3>
        <br>
        <div class="page__hd">
            <h1 class="page__title"><code>粤A1234AB</code> 的费用信息</h1>
        </div>
        <div class="page__bd">
            <div class="weui-form-preview">
                <div class="weui-form-preview__hd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label" style="color: red">应付金额</label>
                        <em class="weui-form-preview__value" style="color: red">¥48.00</em>
                    </div>
                </div>
                <div class="weui-form-preview__bd">
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">类别：</label>
                        <span class="weui-form-preview__value">停车费</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">入场时间：</label>
                        <span class="weui-form-preview__value">2020-03-30 15:39:32</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">已停时间：</label>
                        <span class="weui-form-preview__value">3小时45分钟</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">应收金额：</label>
                        <span class="weui-form-preview__value">60元</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">优惠金额：</label>
                        <span class="weui-form-preview__value">12元</span>
                    </div>
                    <div class="weui-form-preview__item">
                        <label class="weui-form-preview__label">需要支付：</label>
                        <span class="weui-form-preview__value">60元-12元=48元</span>
                    </div>
                </div>
                <div class="weui-form-preview__ft">
                    <a class="weui-btn weui-btn_primary" href="javascript:">立即支付</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

</script>
</body>
</html>