<div th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <meta charset="UTF-8">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/ibornLogo.jpg" type="image/jpg" sizes="any">

    <!-- Styles -->
    <link href="https://res.wx.qq.com/open/libs/weui/2.3.0/weui.css" rel="stylesheet">
    <link href="/append.css" rel="stylesheet">
    <link href="/example.css" rel="stylesheet">

    <!-- Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<!--    <script src="static/jquery171.js"></script>-->
    <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>
</div>