<!DOCTYPE html>
<html lang="en" xmlns:th="">
<head>
    <meta charset="UTF-8">
    <title>导航</title>
    <th:block th:include="head::head"></th:block>

</head>
<body>
<div class="weui-form__opr-area">
    <a class="weui-btn weui-btn_primary " href="/index" >首页</a>
    <a class="weui-btn weui-btn_primary " href="/chooseType" >选择参观、普通游客</a>
    <a class="weui-btn weui-btn_primary " href="/feeInfo" >费用信息</a>
    <a class="weui-btn weui-btn_primary " href="/payResult" >支付结果</a>
</div>
</body>
</html>